form{
	background-image:url(" bg-form.jpg");
	margin: auto;
	width: 50%;
	padding: 10px;
	font-family: arial, verdana, sans-serif;

}

h1{
	text-align: center;
}

#fname{
	width: 100%;
	height: 30px;
}

#width {
	width: 100%;
	height: 30px;
}

#height{
	width: 100%;
	height: 30px;
}

#length {
	width: 100%;
	height: 30px;
}


input[type="submit"],input[type="reset"]{
	background-color: #DCDCDC.;
	height: 40px;
	width: 100px;
}